sessionauth.url=https://develop2-api.symphony.com:8444/sessionauth/v1/authenticate
keyauth.url=https://develop2-api.symphony.com:8444/keyauth/v1/authenticate

# SSL endpoint certificate truststore
truststore.file=/Library/Java/JavaVirtualMachines/jdk1.8.0_131.jdk/Contents/Home/jre/lib/security/cacerts
truststore.password=changeit

# Symphony Service Account
user.cert.file=./certs/bot.user.p12
user.cert.password=changeit
user.email=fay.adams@credit-suisse.com

# Used by HelloWorldBot and RssBot
receiver.email=fay.adams@credit-suisse.com